# Chain ID of the mainnet for which this faucet is configured.
# Example: "secret-4" for the Secret Network mainnet.
CHAIN_ID=secret-4

# Port number on which the faucet service will run.
# Example: 3000
PORT=3000

# Amount of tokens the faucet will dispense per request.
# Specify in smallest unit of the token.
# Example: 100000 for 0.1 tokens if token has 6 decimal places.
FAUCET_AMOUNT=200000

# Denomination of the faucet token.
# Example: "uscrt" for micro SCRT.
FAUCET_DENOM=uscrt

# Gas fee to be used for transactions.
# Specify in the token's smallest unit.
# Example: 0.5 for a fee of 0.5 micro SCRT.
GAS_FEE=0.5

# Denomination for the gas fees.
# Example: "uscrt" for micro SCRT.
GAS_DENOM=uscrt

# Gas limit for transactions.
# Example: 17500
GAS_LIMIT=17500

# Time interval in hours for reloading the faucet.
FAUCET_RELOAD_TIME=0.001

# Memo to be included with each transaction.
# Example: "Fee Grant provided by ... "
MEMO="Fee Grant provided by ..."

# Mnemonic of the account holding the faucet funds.
# Keep this empty in the example file for security reasons.
FAUCET_MNEMOMIC=""

# LCD (Light Client Daemon) node URL for blockchain interaction.
# Ensure the URL starts with http:// or https://
LCD_NODE=https://lcd.mainnet.secretsaturn.net

